<ion-header>
  <ion-navbar>
    <ion-label class="header-logo"></ion-label>
    <ion-buttons *ngIf="isDatabaseReady !== null" end>
      <!-- TODO - replace with app-statusbar -->
      <!-- for when inactive -->
      <div *ngIf="settings.onlineMode" class="icon-large icon-world"></div>
      <div *ngIf="!settings.onlineMode" class="icon-large icon-chain-link"></div>

      <div *ngIf="notifications.length > 0" class="icon-large icon-bell"><span style="right: 17px; top: 11px;">{{notifications.length}}</span></div>
      <div *ngIf="notifications.length === 0" class="icon-large icon-bell"></div>

      <div *ngIf="myCPQDriveSummary.checkedOutQuotes > 0" class="icon-large icon-toolbox"><span style="top: 14px; right: 10px; background-color: #000; padding: 0px 4px;">{{myCPQDriveSummary.checkedOutQuotes}}</span></div>
      <div *ngIf="myCPQDriveSummary.checkedOutQuotes === 0" class="icon-large icon-toolbox"></div>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--
  As	user,	in	the	top-right	header	section,	I	can	see	three	icons,	each	with	two	states	(ACTIVE	&	
GREY).		Also,	when	Cloud	or	Bell	icon	is	ACTIVE,	overlay	a	count.	
a. Cloud	Icon			 ACTIVE	when	onlineMode	=	true	(via	LDSP.getOnlineStatus)	
GREY	when	onlineMode	=	false	
b. Bell	Icon	
ACTIVE	when	Notifications	count	>	0	(via	LDSP.getNotifications)	
GREY	when	Notifications	count	=	0	
c. Folder	Icon	 ACTIVE	when	checkedOutQuotes	>	0	(LDPS.getMyCPQDriveSummary)	
GREY	when	checkedOutQuotes	=	0	
-->

<ion-content>

  <div *ngIf="isDatabaseReady !== null">
  <!-- Alerts -->
  <ion-card *ngIf="alerts" class="alerts inner-shadow" (click)="toggleAlertsSelection()">
    <ion-card-header>
        <div class="icon-large icon-warning"></div>
        <span class="h2">Alerts</span>
       <div class="underline"></div>
       <ion-row class="h3">
        <ion-col col-6>
          Expired Quote
        </ion-col>
        <ion-col col-6>
          {{alerts.count}} ALERT{{alerts.pluralize}}
          <span class="expand-arrow">
           <div *ngIf="alerts.selected"><ion-icon name="ios-arrow-up"></ion-icon></div>
           <div *ngIf="!alerts.selected"><ion-icon name="ios-arrow-down"></ion-icon></div>
          </span>
        </ion-col>
       </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="alerts.selected" class="bgcolor">
     <!-- List of Alerts to apear when selected -->
     <ion-list>
       <ion-item *ngFor="let alert of alerts.expiredQuotes"> 
         <ion-avatar item-left>
        <div class="icon-large icon-warning" style="height: 24px; width: 24px;"></div>
         </ion-avatar>
        <!--<p>{{alert.accountName}}</p>-->
        <p>Opportunity: {{alert._opportunityName}}</p>
        <p>{{alert.Name}}</p>
       </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Notification -->
  <ion-card class="notifications inner-shadow" (click)="toggleNotificationsSelection()">
     <ion-card-header>
        <div class="icon-large icon-bell"></div>
        <span class="h2">Notifications</span>
       <div class="underline"></div>
      <ion-row class="h3">
        <ion-col col-6>
          {{notifications[0].title}}
        </ion-col>
        <ion-col col-6>
          {{notifications.length}} NOTIFICATION{{notifications.pluralize}}
          <span class="expand-arrow">
           <div *ngIf="notifications.selected"><ion-icon name="ios-arrow-up"></ion-icon></div>
           <div *ngIf="!notifications.selected"><ion-icon name="ios-arrow-down"></ion-icon></div>
          </span>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="notifications.selected" class="bgcolor">
     <!-- List of Notifications to apear when selected -->
     <ion-list>
       <ion-item *ngFor="let notification of notifications"> 
         <h3>{{notification.title}}</h3>
         <p>{{notification.body}}</p>
       </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- My Recent Activity -->
  <ion-card *ngIf="hasRecentActivity" class="my-recent-activity inner-shadow" (click)="toggleMyRecentActivitySelection()">
     <ion-card-header>
        <div class="icon-large icon-clock"></div>
        <span class="h2">My Recent Activity</span>
       <div class="underline"></div>
       <ion-row class="h3">
        <ion-col col-6>
          {{myRecentActivity.recentQuotes[0].quoteName}}
        </ion-col>
        <ion-col col-6>
           {{myRecentActivity.recentQuotes[0].lastModified.date}}
           <br>
           {{myRecentActivity.recentQuotes[0].lastModified.time}}
          <span class="expand-arrow">
           <div *ngIf="myRecentActivity.selected"><ion-icon name="ios-arrow-up"></ion-icon></div>
           <div *ngIf="!myRecentActivity.selected"><ion-icon name="ios-arrow-down"></ion-icon></div>
          </span>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="myRecentActivity.selected" class="bgcolor">
      <!-- List of Recent Activity to apear when selected -->
     <ion-list>
       <ion-item *ngFor="let activity of myRecentActivity.recentQuotes"> 
         <h3>{{activity.quoteName}}</h3>
         <p>{{activity.accountName}}</p>
         <p>{{activity.opportunityName}}</p>
         <p>Last Modified: {{activity.lastModified.date}}, {{activity.lastModified.time}}</p>
       </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- My CPQ Drive -->
  <ion-card class="my-cpq-drive inner-shadow">
     <ion-card-header>
        <div class="icon-large icon-toolbox"></div>
        <span class="h2">My Briefcase</span>
       <div class="underline"></div>
    </ion-card-header>
    <ion-card-content class="bgcolor">
      <!-- Storage -->
      <ion-row>
        <ion-col col-6>
         <h3>Storage</h3>
        </ion-col>
        <ion-col col-6>
          <!--<ng-progress></ng-progress>-->
          <div class="storage-bar">
            <div class="storage-fg"></div>
            <div class="storage-bg"></div>
            <!--<div class="storage-zero">0</div>
            <div class="storage-max">50</div>-->
          </div>
          {{myCPQDriveSummary.storage.mbUsed}} / {{myCPQDriveSummary.storage.mbAvailable}} MB
        </ion-col>
      </ion-row>
      <!-- Last Refresh -->
      <ion-row>
        <ion-col col-6>
         <h3>Last Refresh</h3>
        </ion-col>
        <ion-col col-6>
          <div class="refresh">
            <ion-icon name="refresh" (click)="doCPQDriveRefresh()"></ion-icon>
          </div>
          <div class="refresh-time">
           {{myCPQDriveSummary.lastRefresh.date}}
           <br>
           {{myCPQDriveSummary.lastRefresh.time}}
          </div>
        </ion-col>
      </ion-row>
      <!-- Checked Out Quotes -->
      <ion-row>
        <ion-col col-6>
         <h3>Checked Out</h3>
        </ion-col>
        <ion-col col-6>
           <ion-icon name="lock" style="margin-right: 14px;"></ion-icon> {{myCPQDriveSummary.checkedOutQuotes}} QUOTE{{myCPQDriveSummary.pluralize}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- On/Off -->
  <ion-card class="on-off inner-shadow">
     <ion-card-header>
        <div class="icon-large icon-power-onoff"></div>
        <span class="h2">On/Off</span>
        <div class="underline"></div>
    </ion-card-header>
    <ion-card-content class="bgcolor">

      <ion-list>
        <ion-item>
          <ion-label>Online Mode</ion-label>
          <ion-toggle [checked]="settings.onlineMode" (ionChange)="toggleOnlineMode()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Auto Refresh</ion-label>
          <ion-toggle [checked]="settings.autoRefresh" (ionChange)="toggleAutoRefresh()"></ion-toggle>
        </ion-item>

      </ion-list>
     
    </ion-card-content>
  </ion-card>
  </div>
 <!-- <button ion-button full outline (click)="presentConfirm()">Test Confirmation</button>
  <button ion-button full outline (click)="presentToast()">Toast Notification</button>-->

</ion-content>
