<ion-list>

  <ion-list-header>
    <ion-buttons clear small>
      <button clear small>
        <a href=""><span><img src="../assets/img/file.png"/></span>FILTER BY</a>
      </button>
      <button clear small (click)="clearAll()">
        <ion-icon name="trash"></ion-icon>
        <span>CLEAR ALL</span>
      </button>
      <!--button (click)="applyFilter">APPLY FILTER
        <ion-icon name="shuffle"></ion-icon>
        <span>APPLY</span>
      </button-->
    </ion-buttons>
  </ion-list-header>


  <!-- QUOTES-->
  <ion-item>
    <ion-row (click)="toggleQuotesSelection()">
      <ion-col col-6>
        <ion-icon *ngIf="quoteParameters.length > 0"name="checkmark"></ion-icon>
        <span>Quotes</span>
       </ion-col>
      <ion-col col-6>
        <div *ngIf="isQuotesSelected"><ion-icon name="ios-arrow-up"></ion-icon></div>
        <div *ngIf="!isQuotesSelected"><ion-icon name="ios-arrow-down"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="isQuotesSelected">
      <ion-item *ngFor="let q of filter.quotes; let i = index">
        <ion-label>{{undoCamelCase(q)}}</ion-label>
        <ion-checkbox (click)="toggleQuotesParameter(q)"></ion-checkbox>
      </ion-item>
    </ion-list> 
  </ion-item>

    <!-- DATE MODIFIED-->
    <ion-item>
      <ion-row (click)="toggleDateModifiedSelection()">
        <ion-col col-6>
          <ion-icon *ngIf="dateModifiedParameter !== ''"name="checkmark"></ion-icon>
          <span>Date Modified</span>
        </ion-col>
        <ion-col col-6>
          <div *ngIf="isDateModifiedSelected"><ion-icon name="ios-arrow-up"></ion-icon></div>
          <div *ngIf="!isDateModifiedSelected"><ion-icon name="ios-arrow-down"></ion-icon></div>
        </ion-col>
      </ion-row> 
      <ion-list *ngIf="isDateModifiedSelected" >
        <ion-item *ngFor="let date of filter.dateModified; let i = index">
          <ion-label>{{undoCamelCase(date)}}</ion-label>
          <ion-checkbox [checked]="dateModifiedParameter === date" (click)="setDateModifiedParameter(date)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-item>

    <!-- CURRENCY-->
    <ion-item>
       <ion-label>Currency</ion-label>
       <ion-input [(ngModel)]="filter.currency" type="text"></ion-input>
    </ion-item>

    <!-- OWNER-->
    <ion-item>
      <ion-label>Owner</ion-label>
      <ion-input [(ngModel)]="filter.owner" type="text"></ion-input>
    </ion-item>

    <!-- STATUS-->
    <ion-item>
       <ion-label>Status</ion-label>
       <ion-input [(ngModel)]="filter.status" type="text"></ion-input>
    </ion-item>

    <!-- BUTTON TO APPLY FILTER -->
    <ion-item>
      <button (click)="applyFilter()">
        <span>APPLY</span>
      </button>
    </ion-item>

</ion-list>



