<ion-header>
  <ion-navbar>
    <!--<ion-title><ion-icon name="back"></ion-icon></ion-title>-->
    <ion-buttons end>
      <app-statusbar></app-statusbar>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content *ngIf="opportunitySummary" class="fix-header-height light-bg object-details">
    <div class="ion-summary-title">OPPORTUNITY SUMMARY</div>

    <div *ngFor="let label of visibleFieldsLabels">
      <!-- TITLE FOR LABEL -->
      <ion-item class="ion-summary-item-title">{{label.name}}</ion-item>

      <!-- IF READ ONLY -->
      <ion-item *ngIf="!isEditable(label)" class="ion-summary-item-desc">
        <span>{{opportunitySummary[label.asCamelCase]}}</span>
      </ion-item>

      <!-- IF TEXT FIELD -->
      <ion-item *ngIf="isEditable(label) && isTextField(label)" class="ion-summary-item-desc">
          <ion-input [(ngModel)]="editableFields[label.asCamelCase].value" placeholder={{opportunitySummary[label.asCamelCase]}}>
         </ion-input>
      </ion-item> 
      
      <!-- IF DROP DOWN -->
      <ion-item *ngIf="isEditable(label) && isSelectField(label)" class="ion-summary-item-desc">
        <ion-select [(ngModel)]="editableFields[label.asCamelCase].value">
          <ion-option *ngFor="let option of editableFields[label.asCamelCase].options" (click)="markSelection(label,option)">
            {{option}}
          </ion-option>
        </ion-select>
      </ion-item>

    </div>
   
</ion-content>
